body {
	background-image: url('background_home.jpg');
	background-repeat: no-repeat;
}

.header{
	margin-left: 10%;
	margin-top: 5%;
	font-size: 290%;
	font-family: 'Josefin Sans', sans-serif;
	color: cadetblue;
}

.mainBox {
	margin-top: 5%;
	margin-left: 10%;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	width: 30%;
}

.mainBox:hover{
	outline: none;
    border-color: #9cb4c7;
    box-shadow: 0 0 10px #6f7981;
}

.mainInp{
	display: inline-block;
	padding-bottom: 20%;
}

.inpt, .midu, .midn {
	background-color: transparent;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	outline: none;
	border-style: solid;
	border-bottom-color: rgba(179, 175, 175, 0.384);
	width: 200px;
	height: 30px;
	font-size: medium;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.61);
	margin-left: 15%;
	margin-right: 5%;
}

.up, .midu{
	margin-top: 40%;
}

.midu, .midn{
	animation-name: inpAnim;
	animation-delay: 2ms;
	animation-duration: 800ms;
	animation-fill-mode: forwards;
}

@keyframes inpAnim{
	to{
		border-color: rgba(245, 38, 93, 0.918);
	}
}

.sbmt, .sbmtAnim {
	background-color: rgb(12, 64, 238);
	color: rgba(255, 255, 255, 0.904);
	width: 200px;
	height: 40px;
	border-style: solid;
	font-weight: 700;
	font-size: large;
	border: 0px;
	outline: none;
	font-family: 'Prata', serif;
	letter-spacing: 3px;
	animation-name: anot;
	animation-direction: forwards;
	animation-duration: 800ms;
	margin-left: 15%;
	border-radius: 15px;
	cursor: pointer;
}

.sbmtAnim{
	animation-name: sbmtAnim;
	animation-duration: 800ms;
	animation-fill-mode: forwards;
}

@keyframes sbmtAnim{
	to{
		background-color: rgba(255, 255, 255, 0.904);
		color: rgb(12, 64, 238);
	}
}

.gitsm{
	display: inline-block;
	margin-left: 10%;
	width: 95px;
}

.author {
	bottom: 0%;
	position: fixed;
	margin-left: 40%;
	margin-right: 40%;
	color: white;
}

.githb{
	margin-left: 15%;
}

.linkdin{
	margin-left: 15%;
}